<h1 class="center"> <strong> Hi There  !!  Welcome to my first Project using ruby on Rails !! </strong> <h3>
<br>
<h1 class="date"><%= Time.now.strftime("%m/%d/%Y") %></h1>
<h2>***************************************************************************************************</h2>
<br>
<p class="center" > <strong> This is <i>DIVYA PRATAP SINGH</i> from ARMY INSTITTUTE IF TECHNOLOGY PUNE pusruing computer science and currently in my 3rd year . This project is a basic project to learn Rails & Ruby for my internship in <b class="highlight" > <i><%= link_to 'MANGOAPPS', 'https://www.mangoapps.com/' %></i> </b> </strong></p>
<br>
<br>
<h2>**************************************************************************************************</h2>
<h2 class="center"> Project Title : A basic TO-DO APPLICATION </h2>
<br>

<h4 class="center"><%= link_to 'List of Tasks', '/tasks' %></h3>
<h4 class="center" ><%= link_to 'New Task', '/tasks/new' %></h2>
<h2>*******************************************************************************************</h2>